<?xml version="1.0" encoding="utf-8"?>
<!-- the root web configuration file -->
<configuration>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\dentalcarencure.com\tmp" />
  </system.web>
    <system.webServer>
	  <rewrite>
      <rules>
        <!-- Redirect http://www to https:// -->
        <rule name="Redirect to https://dentalcarencure.com" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <!-- Match requests coming from both http and www -->
            <add input="{HTTP_HOST}" pattern="^www\.dentalcarencure\.com$" />
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://dentalcarencure.com/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Redirect http to https without www -->
        <rule name="Redirect to https (no www)" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <!-- Match requests coming from non-www without https -->
            <add input="{HTTP_HOST}" pattern="^dentalcarencure\.com$" />
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://dentalcarencure.com/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Redirect www to non-www https -->
        <rule name="Redirect www to non-www https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <!-- Match https with www -->
            <add input="{HTTP_HOST}" pattern="^www\.dentalcarencure\.com$" />
          </conditions>
          <action type="Redirect" url="https://dentalcarencure.com/{R:1}" redirectType="Permanent" />
        </rule>

	 <rule name="Redirect index.html to root" stopProcessing="true">
          <match url="^index\.html$" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="Index.aspx" />
                <add value="Index.asp" />
                <add value="Index.php3" />
                <add value="Index.php" />
                <add value="Index.stm" />
                <add value="Index.shtm" />
                <add value="Index.shtml" />
                <add value="Index.cfm" />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <httpRedirect enabled="false" destination="" />
    </system.webServer>
</configuration>